<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Work Experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Assistant Professor</h3>
                            <div class="time">Feb 2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Faculty of Mathematics and Computer Science, University of Bucharest</div>
                    </div><!--//meta-->
                    <div class="details">
                      Courses:
                      <ul>
                        <li>Biostatistics (Master - 2nd year)</li>
                        <li>Introduction to Mathematical Statistics (3rd year - Mathematics Department)</li>
                        <li>Introduction to Probability and Statistics (2nd year - Computer Science Department)</li>
                      </ul>
                    </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Similar position to Assistant Professor</h3>
                            <div class="time">Oct 2016 - Feb 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Faculty of Mathematics and Computer Science, University of Bucharest</div>
                    </div><!--//meta-->
                    <div class="details">
                      Courses:
                      <ul>
                        <li>Introduction to Mathematical Statistics (3rd year - Mathematics Department)</li>
                        <li>Introduction to Probability and Statistics (2nd year - Computer Science Department)</li>
                      </ul>
                    </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Scientific Researcher</h3>
                            <div class="time">Oct 2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">National Institute of R &amp; D for Biological Sciences, Bucharest</div>
                    </div><!--//meta-->
                    <div class="details">
                        Member in the Bioinformatics Department
                    </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Teaching Assistant</h3>
                            <div class="time">Sep 2013 - Aug 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Polytech'Lille, Lille</div>
                    </div><!--//meta-->
                    <div class="details">
                      Courses:
                      <ul>
                        <li>Calculus I and II (1st and 2nd year - Software Engineering and Statistics Department)</li>
                        <li>Numerical Analysis (2nd year - Software Engineering and Statistics Department)</li>
                        <li>Introduction to Inferential Statistics (2rd year - Software Engineering and Statistics Department)</li>
                        <li>Probability for Engineers (2nd year - Software Engineering and Statistics Department)</li>
                        <li>Markov Chains (Master 1st year - Software Engineering and Statistics Department)</li>
                      </ul>
                    </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Assistant</h3>
                            <div class="time">Oct 2010 - Oct 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">INRIA Nord Europe, Lille</div>
                    </div><!--//meta-->
                    <div class="details">
                        Member in the MODAL - Models for Data Analysis and Learning Team
                      </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Assistant</h3>
                            <div class="time">Oct 2010 - Oct 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">University of Science and Technologies - Paul Painleve Laboratory, Lille (</div>
                    </div><!--//meta-->
                    <div class="details">
                        Member in the Probability and Statistics Department
                      </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Assistant</h3>
                            <div class="time">Apr 2009 - Sep 2010</div>
                        </div><!--//upper-row-->
                        <div class="company">National Institute of R &amp; D for Biological Sciences, Bucharest</div>
                    </div><!--//meta-->
                    <div class="details">
                        Member in the Bioinformatics Department
                    </div><!--//details-->
                </div><!--//item-->
                
                
            </section><!--//section-->
