<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Work Experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Assistant Professor</h3>
                            <div class="time">Feb 2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Faculty of Mathematics and Computer Science, University of Bucharest</div>
                    </div><!--//meta-->
                    <div class="details">
                      Courses:
                      <ul>
                        <li>Biostatistics (Master - 2nd year)</li>
                        <li>Introduction to Mathematical Statistics (3rd year - Mathematics Department)</li>
                        <li>Introduction to Probability and Statistics (2nd year - Computer Science Department)</li>
                      </ul>
                    </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Similar position to Assistant Professor</h3>
                            <div class="time">Oct 2016 - Feb 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Faculty of Mathematics and Computer Science, University of Bucharest</div>
                    </div><!--//meta-->
                    <div class="details">
                      Courses:
                      <ul>
                        <li>Introduction to Mathematical Statistics (3rd year - Mathematics Department)</li>
                        <li>Introduction to Probability and Statistics (2nd year - Computer Science Department)</li>
                      </ul>
                    </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Scientific Researcher</h3>
                            <div class="time">Oct 2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">National Institute of R &amp; D for Biological Sciences, Bucharest</div>
                    </div><!--//meta-->
                    <div class="details">
                      Bioinformatics Department
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time">2014 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Google, London</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">UI Developer</h3>
                            <div class="time">2012 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Amazon, London</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
